#container1 {
    padding: 100px;
    background-color: gray;
    color: white;
}
#container2 {
    padding: 100px;
    background-color: blue;
    color: white;
}
#list1 {
    color: blue;
}
#container3 {
    padding: 100px;
    background-color: pink;
    color: black;
}
#list2 {
    color: pink;
}
#container4 {
    padding: 100px;
    background-color: lightgreen;
    color: black;
}
#list3 {
    color: lightgreen;
}
.footer {
    background-color: black;
    padding: 25px;
}
#a1 {
    background-color: blue;
    color: white;
    border-color: white;
}
#a1:hover {
    background-color: white;
    color: blue;
    border-color: blue;
}
#a2 {
    background-color: pink;
    color: black;
    border-color: black;
}
#a2:hover {
    background-color: black;
    color: pink;
    border-color: pink;
}
#a3 {
    background-color: lightgreen;
    color: black;
    border-color: black;
}
#a3:hover {
    background-color: black;
    color: lightgreen;
    border-color: lightgreen;
}
.a4 {
    background-color: gray;
    color: white;
    border-color: white;
}
.a4:hover {
    background-color: white;
    color: gray;
    border-color: gray;
}